  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,500&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

/* --------------------Home-style-start----------- */
.home{
   height: 100vh;
   width: 100%;
   background: linear-gradient(rgba(0,0,0,0.5), rgba(2, 16, 24, 0.603)), url(./images/car.jpg);
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
   z-index: 2;
}
.logo{
   margin: 30px;
}

.navbar-nav{
   margin-left: 450px;
}

.navbar{
   height: 25vh;
}

a.nav-link {
   color: white;
}


a.nav-link{
   margin-right: 19px;
   font-size: 17px;
   font-weight: 500;
}

.hero{

   display: flex;
}

.copy{
   margin-top: 110px;
}


.text-label{
   margin: 24px 90px;
   font-size: 32px;
   color: red; 
   font-weight: 700;
   line-height: 31px;
}

.btnl{
   
   color: white;
   width: 350px;
   height: 60px;
   margin: 2px 90px;
   background-color: red;
   border: 2px solid white;
   outline: none;
   padding: 12px 0;
   font-size: 20px;
   border-radius: 9px;
}

.text-hero-bold{
   margin: 24px 90px;
   font-size: 22px;
   color: white;
   font-weight: 800;
   line-height: 32px;
}


a{
   text-decoration: none;
}


.cta a.btn{

   padding: 10px;
   width: 390px;
   height: 60px;
   color: white;
   font-size: 20px;

}



.btnq, .btnh, .btng{
   color: white;
   width: 182px;
   height: 50px;
   background-color: red;
   border: 2px solid white;
   outline: none;
   font-size: 19px;
   border-radius: 10px;


}

.checkBtn .btn{
   color: white;
   width: 270px;
   height: 50px;
   background-color: red;
   border: 2px solid white;
   outline: none;
   font-size: 22px;
   border-radius: 10px;
   margin-top: 5px;
}

input,.form-select{
   width: 15px;
   height: 45px;
}

label{
   color: white;
   font-size: 17px;
   font-weight: 500;
}

.form1{
   border: 2px solid white;
   background-color: rgba(27, 26, 26, 0.589);
   border-radius: 8px;
   color: white;
   font-size: 19px;
   margin-bottom: 5px;
   padding-right: 80px;
   margin-top: 10px;
   width: 620px;
   height: 300px;
}

label{
   margin: 12px;
}

.form-rows1{

   margin: 10px 0;
   width: 620px;
}
.form-row i{
   margin-top: 9px;
   font-size: 22px;
}

.form-group{
   margin: 5px;
}


.form-group input, .form-select{
   margin: 5px 10px;
   padding: 10px;
}

@media (max-width:450px){
   .hero{
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

   }
   .logo{
      width: 160px;
      height: 100px;
   }

   .copy2{
      margin-top: 2px;
      width: 350px;
      height: 450px;




   }
   .form-row{
      flex-direction: column;
   }

   .text-label{
   margin: 0;
   font-size: 12px;
   color: rgb(179, 19, 27);
   font-weight: 800;
   line-height: 31px;


   }

   .text-hero-bold{
      margin-left: 55px;
      font-size: 10px;
      color: white;
      font-weight: 800;
      line-height: 39px;
      text-align: center;
   }

   .cta a.btn{
      padding: 10px;
      width: 150px;
      height: 35px;
      color: white;
      font-size: 8px;
   
   }

   a.btn{
      padding: 5px;
      margin: 5px;
      width: 70px;
      height: 20px;
      color: white;
      font-size: 7px;
   
}
input,.form-select{
   width: 10px;
   height: 15px;
}

label{
   font-size: 7px;
   font-weight: 500;
}
.copy2{
   background-color: white;
   border-radius: 8px;
   color: black;
   font-size: 7px;
   margin-bottom: 0;
   padding-right: 0;
   padding-bottom: 0;
   width: 320px;
   height: 250px;
}
.checkBtn .btn{
   padding: 2px;
   margin: 2px;
   width: 90px;
   height: 20px;
   color: white;
   font-size: 10px;

}





}

/* --------------------Home-style-end----------- */




/* ---------------fleets-Style-start-------------- */

#fleets{
   width: 100%;
   height: 100vh;
   background-color: white;
}


.fleetsHeadings{
   margin-top: 30px;
   align-items: center;
   text-align: center;
}

.fleetsHeadings h3{
   color: red;
}
.fleetsHeadings h1{
   color: black;
   font-size: 29px;
}

.row1 .card{
   margin: 0 35px;
   width: 520px;
   height: 480px;
   box-shadow: 2px 4px 8px ;
}

.card-img-top{
   padding: 7px;
   height: 240px;
   width: 380px;
}

.card-body .btn4{
   color: white;
   background-color: red;
   border: 2px solid black;
   font-size: 19px;
   height: 40px;
   width: 140px;
   margin-left: 197px;
   padding: 7px;
}
.card-title1{
   margin: -11px 0;
}



.fa-regular,
.fa-solid,
.card-title,
.card-text{
   margin: 8px;
   color: red;
   font-size: 17px;
   font-weight: 800;
}

.card-title1{
   color: black;
}
.card-text, p{
   font-size: 17px;
   font-weight: 450;
}

/* ---------------fleets-Style-End-------------- */





/* ---------------Steps-Style-Start-------------- */
#Steps{
   width: 100%;
   height: 100vh;
}
.stepsHeading{
   background: linear-gradient(rgba(0,0,0,0.5), rgba(2, 16, 24, 0.603)), url(./images/car.jpg);
   color: white;
   background-attachment: fixed;
   height: 400px;
   width: 100%;
   background-position: center;
   font-size: 20px;
   background-size: cover;
   margin-top: 25px;
   align-items: center;
   text-align: center;
}

.stepstitle{
   padding-top: 20px;

}

.stepstitle h3{
   color: red;
   padding-bottom: 1px;
}
.stepstitle p{
   padding-top: 1px;
   font-size: 30px;
   color: red;
}
.stepCard{
   margin-top: -170px;
   background: #ebe9e9;
   width: 400px;
   height: 270px;
   text-align: center;
}

.stepRow{
   margin: 0 60px;
}
.stepCard1{


   margin-top: -170px;
   background: red;
   width: 400px;
   height: 270px;
   color: white;
   text-align: center;
}
.stepCard1 h2{
   background-color: white;
   border-radius: 500px;
   color: red;
   width: 85px;
   height: 85px;
   margin-top: 30px;
   margin-left: 110px;
   padding: 25px;
}
.stepCard h2{
   background-color: red;
   border-radius: 500px;
   color: white;
   width: 85px;
   height: 85px;
   margin-top: 30px;
   margin-left: 110px;
   padding: 25px;
}

.stepCard h1{
   padding: 20px;
   font-size: 15px;
}

.stepCard1 h1{
   padding: 20px;
   font-size: 15px;
}
.stepCard1 p{
   padding: 5px;
   font-size: 15px;
   font-weight: 300;
}

.stepCard p{
   padding: 5px;
   font-size: 15px;
   font-weight: 300;
}

 



/* ---------------Steps-Style-End-------------- */





#Quote{
   width: 100%;
   height: 100vh;

}

.rowq{
   background: linear-gradient(rgba(0,0,0,0.5), rgba(2, 16, 24, 0.603)), url(./images/bgquote.jpg);
   color: white;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
}

.quoteImg{
   width: 600px;
   height: 650px;
}
.content{
   text-align: left;
   padding-top: 140px;
   padding-left: 60px;
}

.content h1{
   color: red;
   font-weight: 800;
}

.content i{
   font-size: 35px;
   color: white;
}
.content p{
   font-size: 15px;
   color: white;
}



/* ---------------Quote-Style-End-------------- */








/* ---------------Gallery-Style-Start-------------- */


#Gallery{
   padding: 20px;
   width: 100%;
   height: 100vh;

}

.partg{
   margin-left: 20px;
   border: 10px solid white;
   width: 350px;
   height: 600px;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   box-shadow: 2px 4px 8px ;
}

.partg1{

   border: 8px solid white;
   margin-left: 20px;
   box-shadow: 2px 4px 8px ;
   width: 250px;
   height: 300px;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}


.contentg{
   margin-top: 90px;
}

.contentg h4{

   color: red;
   padding: 10px 0; 
   font-weight: 500;
}

.contentg h3{

   color: red;
   margin-left: -420px;
   font-weight: 500;
}

.contentg p{
   font-size: 15px;
   font-weight: 400;

}

.rowc{
   margin-top: 10px;
}

.cta2{
   
   margin-left: 170px;
}
.cta2 h5{
   font-size: 17px;
   width: 100%;
   margin-left: 10px;
   color: black;
}
.cta h5{
   font-size: 17px;
   width: 100%;
   margin-left: 10px;
   color: black;
}

.cta2 span{
   color: red;
   margin-right: 10px;
}

.cta span{
   margin-right: 10px;
   color: red;
}



/* ---------------Gallery-Style-End-------------- */













/* ---------------Gallery-Style-End-------------- */

#About{
   width: 100%;
   height: 100vh;
}

.aboutContent{

   width: 270px;
   height: 390px;
   padding: 0 20px;
   align-items: center;
   justify-content: center;
}

.aboutContent .icons{

  box-shadow: 2px 4px 8px ;

   width: 180px;
   height: 180px;
   color: red;
   padding: 50px;
   margin-left: 8px;
   margin-bottom: 10px;
   
}

.aboutContent .icon i{
   font-size: 66px;

}
.aboutContent .icon{
   box-shadow: 2px 4px 8px ; 
   font-size: 36px;
    width: 180px;
    height: 180px;
    color: red;
    padding: 50px;
    margin-left: 25px;
    margin-bottom: 10px;
}


.aboutContent h2{

   font-size: 17px;
   text-align: center;
   color: red;
   margin: 5px;
   color: white;
   padding: 5px;
}
.aboutContent p{

   font-size: 12px;
   width: 220px;
   text-align: center;
   margin: 5px;
   color: white;
   padding: 5px;
}

.rowAbout{
   background: linear-gradient(rgba(0, 0, 0, 0.918), rgba(5, 12, 15, 0.897)), url(./images/car.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   padding-top: 80px;
   padding-left: 80px;
   margin-top: 60px;
   width: 100%;
   height: 80vh;
   flex-direction: row;
}




/* ---------------Gallery-Style-End-------------- */




/* ---------------FAQ-Style-Start-------------- */
#Faq{
   width: 100%;
   height: 100vh;
}

.faqHeading h3{
   color: red;
   padding-top: 40px;
   font-size: 19px;
   margin-top: 5px;
   align-items: center;
   text-align: center;
}
.faqHeading h1{
   color: black;
   padding-top: 10px;
   font-size: 29px;
   margin-top: 5px;
   align-items: center;
   text-align: center;
}

.contentFaq{
   height: 70vh;
   margin: 40px;
}
.accordion-buttons:not(.collapsed) {
   color: black;
   background-color: #f7e1e1;
   box-shadow: inset 0 -1px 0 rgba(245, 241, 241, 0.13);
}
.accordion-buttons {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
   padding: 1rem 1.25rem;
   font-size: 17px;
   color: red;
   text-align: left;
   background-color: #fff;
   border: 0;
   border-radius: 0;
   overflow-anchor: none;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}
/* ---------------FAQ-Style-End-------------- */




/* ---------------Services-Style-Start-------------- */

#Services{
   width: 100%;
   height: 100vh;
}

.servicesHeading h3{
   color: red;
   padding-top: 40px;
   font-size: 17px;
   margin-top: 5px;
   align-items: center;
   text-align: center;
}
.servicesHeading h1{
   color: black;
   padding-top: 10px;
   font-size: 30px;
   margin-top: 5px;
   align-items: center;
   text-align: center;
}

.servicesCards{
   flex-direction: row;
   margin: 10px;
}

.servicesCards .cards{
   margin-left: 20px;
   padding: 10px;
   border: 2px solid white;
   box-shadow: 2px 4px 8px 0;
   width: 410px;
   height: 450px;

}
.epicBtn{
   background-image: url(./images/booking2.jpg);
   background-position: center;
   background-size: cover;
   width: 390px;
   height: 250px;

}
.epicBtn2{
   background-image: url(./images/booking3.jpg);
   background-position: center;
   background-size: cover;
   width: 390px;
   height: 250px;

}
.epicBtn3{
   background-image: url(./images/booking.jpg);
   background-position: center;
   background-size: cover;
   width: 390px;
   height: 250px;

}

.KhanBtn{
   margin: 10px;
   color: white;
   background-color: red;
   border: 2px solid white;
   border-radius: 8px;
   font-size: 15px;
   height: 45px;
   width: 130px;
   padding: 5px;
}

.btnServices{
   color: white;
   background-color: red;
   border: 2px solid black;
   border-radius: 8px;
   font-size: 15px;
   height: 40px;
   width: 160px;
   margin-top: 40px;
   padding: 10px;
   text-decoration: none;
}
/* ---------------Services-Style-End-------------- */



/* ---------------Extra-Style-Start-------------- */

#Extra{
   width: 100%;
   height: 100vh;
}
.rowExtra{
   margin: 100px 50px;
}
.extra1{
   border: 2px solid red;
   width: 100%;
   height: 60vh;
   background-image: url(./images/groupscar.jpg);
   background-attachment: fixed;
   background-size: cover;
   background-position: center;


}

.extra2{
   padding-top: 40px;
}


.groupBtn{
   margin: 30px;
   color: white;
   background-color: red;
   border: 2px solid white;
   border-radius: 8px ;
   font-size: 17px;
   height: 45px;
   width: 230px;
   padding: 10px;

}
.extra2 span{
   color: red;
   font-size: 18px;
   font-weight: 600;
}



/* ---------------Extra-Style-End-------------- */







/* ---------------Vision-Style-Start-------------- */








#vision{
   width: 100%;
   height: 100vh;
   background-color: white;
}



.part1{
   margin-top: 55px;
   width: auto;
   height: 85vh;
   justify-content: center;
}

.part1 h2{
   margin: 20px 10px;
   color: red;
   font-size: 29px;
}
.part1 h1{
   margin: 20px 10px;
   color: black;
   font-size: 27px;
}
.part1 p{
   margin: 60px 10px;
   color: black;
   font-size: 15px;
}
.btnVision, .btnMission, .btnHistory{
   margin: 15px;
   color: white;
   align-items: center;
   background-color: red;
   border: 2px solid black;
   border-radius: 10px;
   font-size: 17px;
   height: 45px;
   width: 160px;
   padding: 2px;
}

.imgMission{
   margin-top: 50px;
   padding-top: 30px;
   width: 500px;
   background-size: cover;
   background-position: center;
   height: 44vh;
}
.part2Content1{
   margin-top: -60px;

}
.part2Content2{

   margin-top: 60px;
   height: 30vh;
   flex-direction: column;
}

.visionContent2 p{

   padding-top: 15px;
   width: 300px;
   font-size: 17px;
}

.part2{
   padding: 40px;
}
.part2 h2{
   padding: 20px 0;
   color: red;

}



/* ---------------Vision-Style-End-------------- */









/* ---------------Reviews-Style-Start-------------- */


#reviews{
   background-color: #e8f1f5;
   height: 100vh;
   width: 100%;
}
.reviewsContent{
   padding: 70px;
}

.part1Review .heading, h3{

   justify-content: center;
   text-align: center;
}
.heading i{
   font-size: 35px;
}

.box{

   box-shadow: 2px 4px 8px ;

   margin-top: 90px;
   background-color: white;
   align-items: center;
   text-align: center;
   justify-content: center;
   padding: 30px;
   height: 40vh
}
.reviewStar{
   justify-content: center;
   text-align: center;
   font-size: 48px;
}

.box h3{
   font-size: 21px;
   padding-top: 20px;
   text-align: center;
}

.heading1{
   font-size: 17px;
   margin-top: 30px;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.box1{
   box-shadow: 2px 4px 8px ;

   margin: 105px 20px;
   background-color: white;
   padding: 3px;
   height: 35vh
}


   .box1 .reviewStar{
      height: 50px;

      padding: 0 10px;
      margin: 5px;
      font-size: 22px;
   }

   .heading1 {

      height: 30px;
      margin: 15px -15px;

   }

   .heading1 h5{
      margin-top: -1px;
      width: 100px;
      font-size: 12px;
   }

   .heading2{
      padding: 12px;
   }

   .heading2 h3{
      
      font-size: 16px;
   }

   .heading2 p{
      
      font-size: 10px;
   }
 
   .heading2 h4{
      
      font-size: 17px;
   }
 
/* ---------------Reviews-Style-End-------------- */

















/* ---------------Footer-Style-Start-------------- */




#footer{
   width: 100%;
   padding: 20px;
   height: auto;
   background: linear-gradient(rgba(0, 0, 0, 0.918), rgba(5, 12, 15, 0.897)), url(./images/car.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;}


.icon i{
   font-size: 40px;
   padding-right: 10px;


 
}

.footerContent{

   height: 15vh;
   padding: 20px;
}

.row1 h2{
   font-size: 17px;
   color: white;

}
.footerContent .row1 p{
   font-size: 14px;
   color: white;

}

.rowFooter2{
   padding: 30px;
}

.rowFooter2 h2{
   color: red;
   font-size: 17px;
}

.rowFooter2 li{
   margin: 10px;
   color: white;
   font-size: 14px;
}

iframe{

border: 2px solid white;
   width: 500px;
   height: 30vh;
}



.imgContent img{
   border: 2px solid white;
   width: 60px;
   margin: 20px 15px ;
   height: 40px;
}

.visaCards{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin: 0 10px;
}

.rowContent3{
   display: flex;
   margin: 30px;
}

.iconContent{
   margin: 0 20px ;
   font-size: 32px;
   color: red;
}


/* ---------------Footer-Style-End-------------- */
